<div class="container" ng-controller="UserController" ng-show="authenticated">
<form class="form-horizontal" style="padding-top:30px">
  <div class="form-group">
    <label for="emailId" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="emailId" ng-model="loginUser.emailId" disabled="true">
    </div>
  </div>
  <div class="form-group">
    <label for="mobileNumber" class="col-sm-2 control-label">Mobile Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="mobileNumber" ng-model="loginUser.mobileNumber" disabled="true">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" ng-model="loginUser.name">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <textarea rows="3" class="form-control" id="name" ng-model="loginUser.address"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="updateUser()">Update</button>
    </div>
  </div>
</form>
</div>
