<div class="container">
	
	<ul>
	<h1>A few links to check out today's weather : </h1>
	<a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiZ-s-J_dbKAhUSC44KHdKWC-0QFggbMAA&url=http%3A%2F%2Fwww.accuweather.com%2Fen%2Fin%2Fhp%2Fhimachal-pradesh-weather&usg=AFQjCNHwvozDKng9KSEoATkrP6Wzmw0qkg&sig2=VTxq0oKC_3FtZYVX_uOMUw&bvm=bv.113034660,d.c2E"><li>Himachal Weather by Accuweather</li></a>
	<a href="http://www.mohitdhiman.blogspot.com" target="_blank"><li>Mohit Dhiman's Blogs</li></a>
	<a><li></li></a>
	</ul>
	
</div>