<div class="container">
  <h1>Create a new Destination</h1>
  <form name="createDest" id="createDest">
    <fieldset class="form-group">
      <label for="destination">Destination</label>
      <input type="text" class="form-control" id="destination" ng-model="dest.name" name="destination" unique></input>
      <span ng-show="createDest.destination.$pending.unique">Checking if the destination is already created...</span>
      <span ng-show="createDest.destination.$error.unique">This destinatin has already been created!</span>
    </fieldset>
    <fieldset class="form-group">
      <label for="destCat">Category</label>
      <select class="form-control" ng-model="dest.category" id="destCat">
        <option value="HOLIDAY">Holiday Destination</option>
        <option value="REMOTE">Serenity</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="desttype">Type</label>
      <select class="form-control" ng-model="dest.type" id="desttype">
        <option value="DEFAULT">Default</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="destPincode">Pincode</label>
      <input type="text" class="form-control" id="destPincode" ng-model="dest.pincode" name="destPincode"></input>
    </fieldset>
    <fieldset class="form-group">
      <label for="destCity">City</label>
      <input type="text" class="form-control" id="destCity" ng-model="dest.pincode" name="destCity"></input>
    </fieldset>
    <fieldset class="form-group">
      <label for="destCountry">Country</label>
      <select ng-model="dest.country" class="form-control" id="imgCategory">
        <option value="INDIA">India</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="destState">State</label>
      <select ng-model="dest.state" class="form-control" id="destState">
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Uttrakhand">Uttrakhand</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <label for="destImage">State</label>
      <input type="file" ng-model="image" class="form-control" id="destImage"></input>
      </select>
    </fieldset>
    <button type="submit" ng-click="createDestination()" class="btn btn-primary">Submit</button>
  </form>
</div>
