<style type="text/css">
[class^="fa-"], [class*=" fa-"] {

    width: 100%;
}
</style>
<div id="footer" class="">
<div class="container">
<div class="row"><hr style="border-width: 2px;color:black;"></div>
	<div class="row" style="text-align:center;">
		<div class="col-md-offset-4 col-md-1">
			<a href="http://facebook.com/ashish.dhiman/" target="_blank">
		 	<i class="fa fa-facebook fa-2x"></i>
			</a>
		</div>
		<div class="col-md-1">
			<a href="http://facebook.com/ashish.dhiman/" target="_blank">
		 	<i class="fa fa-instagram fa-2x"></i>
			</a>
		</div>
		<div class="col-md-1">
			<a href="http://facebook.com/ashish.dhiman/" target="_blank">
		 	<i class="fa fa-google-plus fa-2x"></i>
			</a>
		</div>
		<div class="col-md-1">
			<a href="http://facebook.com/ashish.dhiman/" target="_blank">
		 	<i class="fa fa-twitter fa-2x"></i>
			</a>
		</div>
	<div class="row" style="padding-top: 10px; text-align:center;">
		<em class="col-md-offset-3 col-md-6"><div style="text-align:center;">Copyright <strong>@ travel tale ltd.</strong></div></em>
	</div>
	</div>
</div>
</div>
