<div class="row"></div>
<div class="container">

	<!-- Nav tabs -->
	    <!-- Nav tabs -->
	    <ul class="nav nav-tabs">
	  		<li role="presentation" ng-repeat="tab in tabs | orderBy : 'order'"><a href="/{{tab.url}}" data-target="#{{tab.url}}" data-toggle="tab1">{{tab.label}}</a></li>
	 		<!-- Buttons -->
	 		<li class="pull-right">
				<div ng-controller="LogoutController">
					<div ng-show="authenticated">
						<button class="btn btn-warning" ng-click="logout()">Logout</button>
					</div>
				</div>
	 		</li>
	 		<li class="pull-right">
	 			<div ng-hide="authenticated">
					<div ng-controller="LoginController">
					<button ng-click="toggleModal()" class="btn btn-default">Login</button>
	  					<div ng-include="'../views/login-pop.html'"></div>
	  				</div>
  				</div>
	 		</li>
	 		<li class="pull-right">
	 			<div ng-hide="authenticated">
  				<div ng-include="'../views/user-creation.html'"></div>
  				</div>
	 		</li>
		</ul>

		<!-- Erros/Success messages -->
		<self-closing-alert message="{{alertMsg}}"> </self-closing-alert>
</div>
