<!-- <button ng-click="toggleModal()" class="btn btn-default">Login</button> -->
<modal title="Login form" visible="showModal">
			<form class="form-signin" role="form" ng-submit="login()" novalidate>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" class="form-control" ng-model="credentials.username" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" ng-model="credentials.password" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
</modal>
