<div ng-controller="UserController">
		<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
	  	display: none !important;
			}
		</style>
		<button class="btn btn-default" ng-click="show()">Sign Up</button>
      	<!-- Form for sign up -->
      	<modal title="Sign Up Form" visible="showForm">
    <form name="userCreationForm" novalidate role="form">
		  <div class="form-group">
		    <label for="emailId">E-mail</label>
		    <input type="email" ng-model="user.emailId" class="form-control" name="emailId" id="emailId" placeholder="Email" required>
				<small ng-show="userCreationForm.emailId.$invalid  && userCreationForm.$submitted" class="helpText">Please enter a valid Email address.</small>
		  </div>
		  <div class="form-group">
		    <label for="mobileNumber">Mobile Number</label>
		    <input  ng-model="user.mobileNumber" type="text" class="form-control" id="mobileNumber"  name="mobileNumber" ng-pattern="/[0-9]+/" ng-maxlength="10" ng-minlength="10" required>
				<small ng-show="userCreationForm.mobileNumber.$invalid && userCreationForm.$submitted" class="helpText">Please enter a 10 digit number.</small>
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input  ng-model="user.password" type="password" class="form-control" name="password" id="password" placeholder="Password" ng-pattern="/^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})/" required>
				<small ng-show="userCreationForm.password.$invalid && userCreationForm.$submitted" class="helpText">Please enter a six letter password with atleast one special charachter, one upper case letter and one number.</small>
		  </div>
		  <button type="submit" class="btn btn-default" ng-click="create(user,userCreationForm)">Submit</button>
		</form>
		</modal>
</div>
